---
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "../components/BaseLayout.astro";
import EpisodeCard from "../components/EpisodeCard.astro";
import { CONSTANTS } from "../constants.ts";

const allEpisodes = await getCollection("episodes");
const episodes = allEpisodes.sort((a, b) => {
  return a.data.date < b.data.date ? 1 : -1;
});
---

<BaseLayout>
  <main>
    <header>
      <hgroup>
        <h1>{CONSTANTS.title}</h1>
        <p class="subtitle">{CONSTANTS.description}</p>
      </hgroup>
    </header>

    {
      episodes.map(({ id, data: { title, summary, date } }) => (
        <EpisodeCard id={id} title={title} date={date}>
          {summary}
        </EpisodeCard>
      ))
    }
  </main>
</BaseLayout>

<style>
  .subtitle {
    color: var(--pico-primary);
  }
</style>
